@media screen and (max-width: 768px) {
    #wrapper {
        width: 100vw;
    }

    header {
        background-color: green;
    }

    nav ul li a:hover {
        color: black;
    }

    main {
        flex-direction: column;
        align-items: center;
    }
}